




<!-- src/View/Membre/inscription.html  -->

<?= $erreur ?>

<form method="post" action="" class="col-md-8 col-md-offset-2">
	<h1 class="alert alert-info text-center"><?= $title ?></h1>

  <div class="form-group">
    <label for="pseudo">Pseudo</label>
    <input type="text" class="form-control" id="pseudo" name="pseudo" placeholder="Pseudo" pattern="[a-zA-Z0-9-_.]{4,20}" title="caractères acceptés : a-zA-Z0-9-_.">
  </div>
  <div class="form-group">
    <label for="mdp">Password</label>
    <input type="text" class="form-control" id="mdp" name="mdp" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="nom">Nom</label>
    <input type="text" class="form-control" id="nom" name="nom" placeholder="nom">
  </div>
  <div class="form-group">
    <label for="prenom">Prénom</label>
    <input type="text" class="form-control" id="prenom" name="prenom" placeholder="prenom">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email"  name="email" placeholder="Email">
  </div>
  
	<label for="civilite">Civilité</label><br>
	<label class="radio-inline">
	<input type="radio" id="civilite" name="civilite" value="m" checked> homme
	</label>
	<label class="radio-inline">
	<input type="radio" id="civilite" name="civilite" value="f"> femme<br>
	</label><br>
	
  <div class="form-group"><br>
    <label for="ville">Ville</label>
    <input type="text" class="form-control" id="ville" name="ville" placeholder="ville">
  </div>
  
  <div class="form-group">
    <label for="code_postal">Code Postal</label>
    <input type="text" class="form-control" id="code_postal" name="code_postal" placeholder="Code Postal">
  </div>
  
  <label for="adresse">Adresse</label>
  <textarea class="form-control" rows="3" id="adresse" name="adresse"></textarea><br>
  
  <input type="submit" class="col-md-12 btn btn-primary" value="inscription"><br><br><br>
</form>