

<div class="row row-offcanvas row-offcanvas-right"> <!-- template Bootstrap -->
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
            <p class="list-group-item active text-center">CATEGORIES</p>

<!-- ------------------------------ AFFICHER CATEGORIES ---------------------------------------- -->                  
            <?php foreach($categories as $cat) : ?>
                <a href="<?= $url ?>produit/boutique/<?= $cat['categorie'] ?>" class="list-group-item"><?= $cat['categorie'] ?></a>

            <?php endforeach; ?>
        
    </div>
</div> <!-- fin sidebar-offcanvas-->

<!-- ---------------------------------------- JUMBOTRON ------------------------------------- -->

    <div class="col-xs-12 col-sm-9">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div class="jumbotron">
            <h1>Ma première boutique from scratch !!!</h1>
            <p>Webforce 3, fevrier 2018</p>
        </div>
                
<!-- -------------------- AFFICHER photo/prix/lien envoi vers fiche pdt ----------------------- -->     

        <?php foreach($produits as $produit) : ?>   <!-- à chq tr foreach aff. pdt, tof, prix -->
            <div class="col-xs-6 col-lg-4"> 
            <div class="panel-default border"> <!--cf Bootstrap/Components/Panels-->
                <div class="panel-heading text-center">
                <h2> <?= $produit -> getTitre() ?> </h2>  <!--⚠️️ sign inf/sup à + ?=  > remplace un echo -->
                </div>
                <div>

                    <p><a href="<?= $url ?>produit.affiche.<?= $produit -> getId_produit() ?>"> 
                    
                    <!-- => lien sur img > fiche pdt -->
                    <img src="<?= $url . 'photo/' . $produit -> getPhoto() ?> "alt="" class="img-responsive tofProduit">
                    
                </a</p>
                    <p class="text-center"> <?= $produit -> getPrix() ?> € </p>  <!-- Aff prix -->
                    <p class="text-center">
                    <a class="btn btn-primary" href="" role="button">Voir le détail &raquo;</a></p>  <!--⚠️ btn lien vers fiche pdt-->                   
                </div>          
            </div>
            </div>
        <?php endforeach; ?>

    </div> 
</div> <!-- fin template Bootstrap -->

